pnpm.use-node-version=22.12.0
pnpm.manage-package-manager-versions=true

registry=https://registry.npmjs.org/

progress=true
loglevel=warn

save-exact=true
engine-strict=true
audit=true
audit-level=moderate
fund=false
prefer-offline=true
