services:
  komodo-web-dev:
    build:
      context: .
      target: dev
    profiles: ["dev"]
    ports: ["3000:3000"]
    environment:
      - ENV=local
      - PUBLIC_API_URL=http://api-dev:8080
    volumes:
      - .:/app
      - /app/node_modules

  komodo-web-staging:
    build:
      context: .
      target: prod
    profiles: ["staging"]
    ports: ["3001:3000"]
    environment:
      - ENV=staging
      - PUBLIC_API_URL=https://staging-api.komodo.com
      - ORIGIN=https://staging.komodo.com

  komodo-web-prod:
    image: komodo-ecom-web:latest # Usually pulled from a registry in prod
    profiles: ["prod"]
    ports: ["80:3000"]
    environment:
      - ENV=prod
      - PUBLIC_API_URL=https://api.komodo.com
      - ORIGIN=https://www.komodo.com